header{
    width: 100%;
    margin-top: 5%;
    color: rgb(151, 160, 62);
    
    ;
}

body {
    font-family: "helvetica";
    text-align: center;
}


#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
background-color: rgba(149, 210, 174, 0.388);
}

hr {
    width: 500px;
}

#errors {
    color:rgb(255, 132, 0);
}


.horizontal-line{
    border-bottom: 2px solid black;
}

.vertical-line {
border-right:2px solid black;
}



.tile{
    width: 48px;
    height:48px;
    font-size: 20px;
    border-radius: 3pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt rgb(15, 15, 15) dotted;
}

#digits  {
    width: 450px;
    height: 50px;
    margin: 0 auto ;
    display:inline-flex;
    flex-wrap: wrap;
    color:black;
}

.number {
    width: 44px;
    height:44px;
    font-size: 20px;
    border-radius: 5pt;;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin-top:4%;
    margin-right: 2;
    margin-left: 2;;
    border: 1pt dotted black;

}


.number-selected {
    background-color: rgba(54, 83, 7, 0.7);
    
}

.tile-start {
    background-color: rgba(201, 199, 112, 0.515);
    color: rgb(32, 140, 104);
}

