body {
    font-family: arial;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: rgba(36, 52, 4, 0.511);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

hr {
    width: 500px;
}

#errors {
    color:rgb(229, 62, 62);
}



div.tile{
    width: 48px;
    height:48px;
    border: 1pt dotted rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits  {
    width: 450px;
    height: 50px;
    margin: 0 auto ;
    display:inline-flex;
    flex-wrap: wrap;
    color:black;
}

.number {
    width: 44px;
    height:44px;
    border: 1px dotted rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 5pt;

    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin:2px;

}

.number-selected {
    background-color: pink;
    
}